<div class="loader-container">
  <h4 class="progress-indicator">{{ loaderProgress() + " %" }}</h4>
  <svg class="loader">
    <line class="filled" x1="0" y1="25" x2="480" y2="25" />
    <line
      class="filling"
      x1="0"
      y1="25"
      x2="480"
      y2="25"
      [style.strokeDashoffset]="300 - loaderProgress() * 3"
    />
  </svg>
</div>

<app-scroll-progressbar />

<div class="main-wrapper">
  <div #introSection class="intro-container">
    <app-thinker
      [animationTimeLine]="animationTimeLine"
      (progressChange)="onLoadingThinkerModel($event)"
      (onLoadThinkerComplete)="onLoadingThinkerModelComplete($event)"
    />
    <h1 class="intro-text">{{ "main.intro.title" | translate }}</h1>
    <h2 class="intro-text">{{ "main.intro.description" | translate }}</h2>
  </div>

  <div class="sections-wrapper">
    <section class="soft-skills">
      <div id="text" class="soft-skills-subtitle">
        <h3 class="soft-skills-subtitle-content">
          {{ "main.agile" | translate }}
        </h3>
      </div>

      <div class="soft-skills-subtitle">
        <h3 class="soft-skills-subtitle-content">
          {{ "main.empathetic" | translate }}
        </h3>
      </div>

      <div class="soft-skills-subtitle">
        <h3 class="soft-skills-subtitle-content">
          {{ "main.teamPlayer" | translate }}
        </h3>
      </div>

      <div class="soft-skills-subtitle">
        <h3 class="soft-skills-subtitle-content">
          {{ "main.communication" | translate }}
        </h3>
      </div>
      <div class="soft-skills-subtitle">
        <h3 class="soft-skills-subtitle-content">
          {{ "main.creative" | translate }}
        </h3>
      </div>
    </section>

    <section class="hard-skills">
      <div class="hard-skills-lists">
        <div class="hard-skills-content workflow">
          <h3>Workflow</h3>
          <ul>
            <li>vs code</li>
            <li>Git</li>
            <li>Github</li>
            <li>BitBucket</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Teams</li>
            <li>Slack</li>
            <li>Discord</li>
          </ul>
        </div>
        <div class="hard-skills-content stack">
          <h3>Stack</h3>
          <ul>
            <li>Angular 13-17</li>
            <li>Typescript</li>
            <li>rxjs</li>
            <li>ngrx</li>
            <li>ngrx/component-store</li>
            <li>Jest</li>
            <li>gsap</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="hard-skills">
      <div class="hard-skills-lists">
        <div class="hard-skills-content workflow">
          <h3>Workflow</h3>
          <ul>
            <li>vs code</li>
            <li>Git</li>
            <li>Github</li>
            <li>BitBucket</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Teams</li>
            <li>Slack</li>
            <li>Discord</li>
          </ul>
        </div>
        <div class="hard-skills-content stack">
          <h3>Stack</h3>
          <ul>
            <li>Angular 13-17</li>
            <li>Typescript</li>
            <li>rxjs</li>
            <li>ngrx</li>
            <li>ngrx/component-store</li>
            <li>Jest</li>
            <li>gsap</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- get in touch -->
    <section class="hard-skills last-section">
      <div class="hard-skills-lists">
        <div class="hard-skills-content workflow">
          <h3>Workflow</h3>
          <ul>
            <li>vs code</li>
            <li>Git</li>
            <li>Github</li>
            <li>BitBucket</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Teams</li>
            <li>Slack</li>
            <li>Discord</li>
          </ul>
        </div>
        <div class="hard-skills-content stack">
          <h3>Stack</h3>
          <ul>
            <li>Angular 13-17</li>
            <li>Typescript</li>
            <li>rxjs</li>
            <li>ngrx</li>
            <li>ngrx/component-store</li>
            <li>Jest</li>
            <li>gsap</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
