<div class="loader-container">
  <h4 class="progress-indicator">{{ loadingProgress() + " %" }}</h4>
  <svg class="loader">
    <line class="filled" x1="5" y1="25" x2="260" y2="25" />
    <line
      class="filling"
      x1="5"
      y1="25"
      x2="260"
      y2="25"
      [style.strokeDashoffset]="300 - loadingProgress() * 3"
    />
  </svg>
</div>

<app-scroll-progressbar
  [mainTimelineAnimation]="animationTimeLine"
  [loadingComplete]="loadingComplete()"
/>

<div class="main-wrapper">
  <div #introSection class="canvas">
    <app-canvas
      [animationTimeLine]="animationTimeLine"
      (progressChange)="onLoadingThinkerModel($event)"
      (onLoadModelsComplete)="onLoadModelsComplete($event)"
    />
    <app-intro />
    <soft-skills />
  </div>

  <div class="sections-wrapper">
    <section class="fake_section"></section>
    <section class="section_0 scrollable soft-skills"></section>
    <section class="section_1 scrollable hard-skills"></section>

    <section class="section_2 scrollable hard-skills">
      <div class="hard-skills-lists">
        <div class="hard-skills-content workflow">
          <h3>Workflow</h3>
          <ul>
            <li>vs code</li>
            <li>Git</li>
            <li>Github</li>
            <li>BitBucket</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Teams</li>
            <li>Slack</li>
            <li>Discord</li>
          </ul>
        </div>
        <div class="hard-skills-content stack">
          <h3>Stack</h3>
          <ul>
            <li>Angular 13-17</li>
            <li>Typescript</li>
            <li>rxjs</li>
            <li>ngrx</li>
            <li>ngrx/component-store</li>
            <li>Jest</li>
            <li>gsap</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- get in touch -->
    <section class="section_3 scrollable hard-skills last-section">
      <div class="hard-skills-lists">
        <div class="hard-skills-content workflow">
          <h3>Workflow</h3>
          <ul>
            <li>vs code</li>
            <li>Git</li>
            <li>Github</li>
            <li>BitBucket</li>
            <li>Jira</li>
            <li>Confluence</li>
            <li>Teams</li>
            <li>Slack</li>
            <li>Discord</li>
          </ul>
        </div>
        <div class="hard-skills-content stack">
          <h3>Stack</h3>
          <ul>
            <li>Angular 13-17</li>
            <li>Typescript</li>
            <li>rxjs</li>
            <li>ngrx</li>
            <li>ngrx/component-store</li>
            <li>Jest</li>
            <li>gsap</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Scss</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
