<div class="loader-container">
  <h4 class="progress-indicator">{{ loadingProgress() + " %" }}</h4>
  <svg class="loader">
    <line class="filled" x1="5" y1="25" x2="260" y2="25" />
    <line
      class="filling"
      x1="5"
      y1="25"
      x2="260"
      y2="25"
      [style.strokeDashoffset]="300 - loadingProgress() * 3"
    />
  </svg>
</div>

<div class="scroll-mention-container">
  <div class="scroll-mention-content">
    <app-icon [iconName]="IconEnum.ArrowUp" [clickable]="false" />
    <h4>{{ "main.action.scroll" | translate }}</h4>
    <app-icon [iconName]="IconEnum.ArrowDown" [clickable]="false" />
  </div>
</div>

<app-scroll-progressbar
  [mainTimelineAnimation]="animationTimeLine"
  [loadingComplete]="loadingComplete()"
/>

<div class="main-wrapper">
  <div #introSection class="canvas">
    <app-canvas
      [animationTimeLine]="animationTimeLine"
      (progressChange)="onLoadingThinkerModel($event)"
      (onLoadModelsComplete)="onLoadModelsComplete($event)"
    />
    <app-intro />
    <soft-skills />
    <hard-skills />
  </div>

  <div class="sections-wrapper">
    <section class="fake_section"></section>
    <section class="section_0 scrollable soft-skills"></section>
    <section class="section_1 scrollable hard-skills"></section>
    <section class="section_2 scrollable projects"></section>
    <!-- get in touch -->
    <section class="section_3 scrollable contact"></section>
  </div>
</div>
