@import "../../../../styles/colors.scss";

:host {
  .projects-container {
    position: fixed;
    left: 40%;
    top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .project {
      width: 17rem;
      border: none;
      border-bottom: 1px dashed $dark-red;
      padding-bottom: 0;
      margin: 1rem 0;

      h4 {
        font-size: 2rem;
        font-family: DancingScript-Variable;
        color: rgb(113, 13, 13);
      }
    }

    &.large-screen {
      top: 28rem;

      .project {
        width: 30rem;
        margin: 2rem 0;
      }
    }
  }
}
