:host {
  .intro-container {
    display: flex;
    left: 1.75rem;
    flex-direction: column;
    position: fixed;
    width: 100%;

    h1 {
      top: 1rem;
      font-size: 4rem;
      font-family: "Khand-semi-bold";
      line-height: 4.25rem;
      width: 32rem;
      height: 8rem;
      text-wrap: wrap;
      color: #b11313;
    }

    h2 {
      top: 16rem;
      margin-left: 4rem;
      font-size: 2rem;
      font-family: sans-serif;
      font-weight: 200;
      width: 32rem;
      text-wrap: wrap;
    }
  }
}
