@import "../../../../../styles/colors.scss";

:host {
  display: block;

  .intro-animations-container {
    position: absolute;
    width: 99vw;
    height: 80%;
    // loader for first animation
    & > * {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    svg {
      width: 20rem;
      height: 20rem;

      .loader {
        stroke: #000;
        fill: transparent;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
      }
    }

    .bubble {
      height: 0;
      width: 0;
      border-radius: 50%;
      opacity: 0;

      &.transparent {
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        transform: translate(-2rem, -1rem);
        transform-origin: right center;

        // round icon in down left scroll icon
        .slider {
          position: relative;
          height: 0.5rem;
          border: 1px solid;
          border-radius: 3px;
        }

        .scroll-icon-label {
          font-size: 0.8rem;
          opacity: 0;
          font-family: MontserratLight;
          min-width: 7rem;
          transform: translateX(17%);
        }
      }

      &.colored {
        z-index: 3;
        background: linear-gradient(#e54040, #818ae4, #81e4ae, #e4dc81);
        transform: translateY(-1.5rem);
        transform-origin: left center;
      }
    }

    .splash-img {
      z-index: 4;
      top: 14rem;
      left: 12rem;
      width: 23rem;
      height: 23rem;
      background-image: url("/assets/images/splash.png");
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
    }
  }
}
