:host {
  display: block;
  height: 100%;
  width: 100%;

  .app-lang-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > * {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .header {
      display: flex;
      align-items: center;
      padding-right: 1rem;

      .close-icon {
        width: 2rem;
        height: 2rem;
        align-self: flex-end;
      }
    }

    .content section {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-bottom: 2rem;

      & > * {
        margin: 0.5rem;
      }

      .section-title {
        display: flex;
        align-items: center;

        & > * {
          margin: 0 0.5rem;
        }

        .icon-container {
          font-size: 1.5rem;
          width: 2rem;
          height: 2rem;
        }

        h2 {
          font-size: 1.5rem;
        }
      }

      .section-content {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin-left: 2.5rem;

        &.audio-section > * {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
