<div class="app-lang-container">
  <div class="header">
    <app-icon
      class="close-icon"
      [iconName]="IconEnum.Close"
      strokeColor="#a2c7cf"
      (click)="closeModal()"
    />
  </div>

  <div class="content">
    <section>
      <div class="section-title">
        <div class="icon-container">
          <app-icon
            [iconName]="IconEnum.Language"
            [clickable]="false"
          ></app-icon>
        </div>
        <h2>
          {{ "languageSettings.languages.title" | translate }}
        </h2>
      </div>
      <div class="section-content">
        <app-button-group
          [items]="LanguageEnum.languageResolver"
        ></app-button-group>
      </div>
    </section>

    <section>
      <div class="section-title">
        <div class="icon-container">
          <app-icon [iconName]="IconEnum.Audio" [clickable]="false"></app-icon>
        </div>
        <h2>
          {{ "languageSettings.audio.title" | translate }}
        </h2>
      </div>
      <div class="section-content audio-section">
        <app-checkbox
          [label]="'languageSettings.disableSubtitle' | translate"
          (valueChanged)="disableSubtitle = $event"
        />
        <app-button-group
          [items]="LanguageEnum.languageResolver"
          [disabled]="disableSubtitle"
        ></app-button-group>
      </div>
    </section>
  </div>
</div>
