:host {
  position: absolute;
  top: 1.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;

  .hard-skills-lists {
    display: flex;
    justify-content: center;
    width: 100%;

    & > * {
      margin: 0 2rem;
    }

    h3 {
      color: rgb(134, 8, 8);
      font-size: 2rem;
      font-family: DancingScript-Variable;
      transform-style: preserve-3d;
      transform-origin: top right;
    }

    .separator {
      width: 4px;
      height: 17rem;
      border-radius: 3px;
      background-color: rgb(128, 11, 11);
      align-self: center;
    }

    ul {
      list-style: none;
      padding: 0.25rem;

      li {
        font-size: 1.5rem;
        font-family: RobotoThin;
        margin: 0.5rem 0;
      }
    }
  }
}
