<div class="hard-skills-lists">
  <div class="workflow">
    <h3>Workflow</h3>
    <ul>
      <li>vs code</li>
      <li>Git</li>
      <li>Github</li>
      <li>BitBucket</li>
      <li>Jira</li>
      <li>Confluence</li>
      <li>Teams</li>
      <li>Slack</li>
      <li>Discord</li>
    </ul>
  </div>

  <div class="separator"></div>

  <div class="stack">
    <h3>Stack</h3>
    <ul>
      <li>Angular 13-17</li>
      <li>Typescript</li>
      <li>rxjs</li>
      <li>ngrx</li>
      <li>ngrx/component-store</li>
      <li>Jest</li>
      <li>gsap</li>
      <li>Javascript</li>
      <li>HTML, CSS, Scss</li>
    </ul>
  </div>
</div>
