:host {
  height: 100%;

  .entry-container {
    background-color: #000000ba;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > * {
      max-width: 22rem;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 200;
      color: #ffffffc2;
      padding: 0.5rem 0;
    }

    .lang-btn-container {
      display: flex;
      padding: 0;

      button {
        width: 10rem;
        height: 5rem;
        padding: 0.5rem;
        background-color: transparent;
        border: 1px solid #ffffffc2;
        border-radius: 5px;
        margin: 0 0.5rem;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #28262683;
        }
      }
    }
  }
}
