<div class="details-container">
  <div
    role="button"
    class="close-btn-container"
    (click)="overlayData.overlayRef.dispose()"
  >
    <app-icon [iconName]="IconEnum.Close" />
  </div>
  <h2 class="title">{{ overlayData.title }}</h2>
  <div class="scroll-indication" *ngIf="images.length > 1">
    <app-icon [iconName]="IconEnum.ArrowLeft" />
    <span>scroll</span>
    <app-icon [iconName]="IconEnum.ArrowRight" />
  </div>
  <div
    class="caroussel-container"
    [ngStyle]="{ overflowX: images.length > 1 ? 'scroll' : 'hidden' }"
  >
    <div *ngFor="let image of images" class="image-container">
      <img [src]="image" alt="" />
    </div>
  </div>

  <p class="project-description">{{description}}</p>

  <a
    *ngIf="overlayData.projectLink"
    class="project-link"
    [href]="overlayData.projectLink"
    target="_blank"
  >
    <app-icon [iconName]="IconEnum.ExternalLink" />
  </a>
</div>
