:host {
  .details-container {
    width: 34rem;
    height: 57rem;
    position: relative;
    min-width: 100%;

    .close-btn-container {
      margin: 0.5rem;
      display: flex;
      justify-content: flex-end;
      width: 95%;

      app-icon {
        border: 1px solid #ffffffb7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0.8rem;
        cursor: pointer;

        ::ng-deep .icon-container {
          font-size: 1.75rem;
          color: #ffffffb7;
        }
      }
    }

    .title {
      font-size: 2rem;
      font-weight: 400;
      font-family: "DancingScript-Variable";
      color: #ffffffb7;
      text-align: center;
      margin: 0.75rem 0;
    }

    .scroll-indication {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a5a5a5b5;
      font-size: 1.25rem;

      & > * {
        margin: 0 0.5rem;
      }

      span {
        font-family: RobotoLight;
      }
    }

    .caroussel-container {
      height: 23rem;
      width: 100%;
      display: flex;
      overflow-y: hidden;
      padding-top: 1rem;

      & > * {
        margin-right: 0.25rem;
      }

      .image-container {
        min-width: 100%;
        min-height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          background-color: #000000bd;
        }
      }
    }

    .project-description {
      font-size: 1.75rem;
      width: 97%;
      color: #fffffff1;
      font-family: RobotoThin;
      line-height: 2.25rem;
      padding: 0.25rem 0.25rem 0 0.5rem;
    }

    a.project-link {
      position: absolute;
      bottom: 3rem;
      right: 2rem;
      cursor: pointer;
      color: rgba(160, 185, 216, 0.758);

      app-icon {
        ::ng-deep .icon-container {
          font-size: 2.75rem;
        }
      }
    }
  }
}
