@font-face {
  font-family: MontserratLight;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
}
@font-face {
  font-family: MontserratMedium;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
}
@font-face {
  font-family: MontserratSemiBold;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: MontserratExtraBold;
  src: url("/assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
  font-family: "Fleur de leah";
  src: url("/assets/fonts/FleurDeLeah-Regular.ttf");
}

@font-face {
  font-family: Italiana;
  src: url("/assets/fonts/Italiana-Regular.ttf");
}
