@font-face {
  font-family: Italiana;
  src: url("/assets/fonts/Italiana-Regular.ttf");
}

@font-face {
  font-family: RobotoThin;
  src: url("/assets/fonts/roboto/roboto-thin.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("/assets/fonts/roboto/roboto-light.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("/assets/fonts/roboto/roboto-regular.ttf");
}

@font-face {
  font-family: "DancingScript-Variable";
  src: url("/assets/fonts/DancingScript-VariableFont.ttf");
}
@font-face {
  font-family: "Khand-semi-bold";
  src: url("/assets/fonts/Khand-SemiBold.ttf");
}
@font-face {
  font-family: "Khand-medium";
  src: url("/assets/fonts/Khand-Medium.ttf");
}
