<div class="soft-skills-catch-phrase-container">
  <h2 class="soft-skills-catch-phrase">
    {{ "main.soft.skills.catchPhrase.you" | translate }}
  </h2>
  <h2 class="soft-skills-catch-phrase">
    {{ "main.soft.skills.catchPhrase.me" | translate }}
  </h2>
  <ul class="soft-skills-list">
    <li>{{ "main.soft.skills.solution.optimized" | translate }}</li>
    <li>{{ "main.soft.skills.solution.pragmatic" | translate }}</li>
    <li>{{ "main.soft.skills.solution.accessible" | translate }}</li>
    <li>{{ "main.soft.skills.solution.maintenable" | translate }}</li>
  </ul>
</div>
