:host {
  position: absolute;
  top: 30%;
  left: 40%;

  .soft-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: 1px solid #8484844e;

    & > * {
      position: absolute;
    }

    .square {
      width: 9rem;
      height: 9rem;
      border: 1px solid #5756563b;

      &:nth-child(2) {
        transform: rotate(45deg);
      }
    }

    .point {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: rgba(102, 7, 7, 0.85);
      &.north-east {
        transform: translate(2.3rem, -5.1rem);
      }
      &.east {
        transform: translate(5.1rem, -2.3rem);
      }
      &.upper-south-east {
        transform: translate(5.1rem, 2.3rem);
      }
      &.south-east {
        transform: translate(2.3rem, 5.1rem);
      }

      &.south-west {
        transform: translate(-2rem, 5.25rem);
      }
      &.upper-south-west {
        transform: translate(-5.1rem, 2.3rem);
      }
      &.west {
        transform: translate(-5.1rem, -2.3rem);
      }
      &.north-west {
        transform: translate(-2.3rem, -5.1rem);
      }
    }
  }
}
