<div class="loader-container">
  <h4 class="progress-indicator">{{ loadingProgress() + " %" }}</h4>
  <svg class="loader">
    <line class="filled" x1="5" y1="25" x2="260" y2="25" />
    <line
      class="filling"
      x1="5"
      y1="25"
      x2="260"
      y2="25"
      [style.strokeDashoffset]="300 - loadingProgress() * 3"
    />
  </svg>
</div>

<div class="scroll-mention-container">
  <app-icon [iconName]="IconEnum.ArrowUp" [clickable]="false" />
  <ul>
    <li>S</li>
    <li>C</li>
    <li>R</li>
    <li>O</li>
    <li>L</li>
    <li>L</li>
  </ul>
  <app-icon [iconName]="IconEnum.ArrowDown" [clickable]="false" />
</div>

<app-scroll-progressbar
  [animationTimeLine]="animationTimeLine"
  [loadingComplete]="loadingComplete()"
/>

<div class="main-wrapper">
  <div #introSection class="canvas">
    <app-canvas
      [animationTimeline]="animationTimeLine"
      (progressChange)="onLoadingThinkerModel($event)"
      (onLoadModelsComplete)="onLoadModelsComplete($event)"
    />
    <app-intro />
    <soft-skills />
    <hard-skills />
    <projects />
    <contact />
  </div>

  <div class="sections-wrapper">
    <section class="fake_section section_0"></section>
    <section class="section_1 soft-skills"></section>
    <section class="section_2 hard-skills"></section>
    <section class="section_3 projects"></section>
    <section class="section_4 contact"></section>
  </div>
</div>
