:host {
  & > * {
    position: absolute;
    left: 1.5rem;
  }
  h1 {
    top: 1rem;
    font-size: 4rem;
    font-family: Italiana;
    line-height: 4.5rem;
    width: 30rem;
    text-wrap: wrap;
    color: #b11313;
  }

  h2 {
    top: 16rem;
    font-size: 1.8rem;
    font-family: RobotoLight;
    font-weight: 200;
    width: 28rem;
    text-wrap: wrap;
  }
}
