<div class="scroll-container">
  <svg class="scroll-progressbar">
    <line class="thin-line" x1="15" y1="7" x2="15" y2="200" />
    <line class="scroll-progress-line" x1="15" y1="7" x2="15" y2="200" />
  </svg>

  <h4 class="entry section-title scrolled-section_0 fake-section">
    <app-icon [iconName]="IconEnum.Diamond" [clickable]="false" />
  </h4>

  <h4 class="section-title scrolled-section_1 soft-skills">Soft skills</h4>
  <h4 class="section-title scrolled-section_2 hard-skills">Hard skills</h4>
  <h4 class="section-title scrolled-section_3 projects">
    {{ "main.projects" | translate }}
  </h4>
  <h4 class="section-title scrolled-section_4 contact">
    {{ "main.contact" | translate }}
  </h4>
</div>
