:host {
  height: 100%;
  z-index: 1;
  display: block;

  .scroll-wrapper {
    position: relative;

    display: flex;
    width: 600%;
    flex-wrap: nowrap;
    height: 100vh;
    padding-top: 7rem;

    section {
      position: relative;
      flex-shrink: 0;
      width: 60vw;
      height: 100%;

      & > * {
        position: absolute;
        top: 5rem;
        left: 47%;
        max-width: 50rem;
        font-size: 1.7rem;
      }
    }
  }
}
