:host {
  height: 100%;
  z-index: 3;
  display: block;

  .scroll-wrapper {
    background-color: transparent;
    position: relative;
    display: flex;
    width: 400vw;
    flex-wrap: nowrap;
    height: 100vh;
    padding-top: 4rem;

    section {
      flex-shrink: 0;
      width: 100vw;
      height: 100%;
      &.intro-section {
        position: relative;
      }

      .skills-intro {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        z-index: 7;

        & > * {
          margin: 6rem 0;
        }

        h1 {
          letter-spacing: 2px;
          font-size: 7rem;
          font-weight: 100;
          font-family: "Fleur de leah";
          line-height: 6rem;

          height: 15rem;
        }

        h3 {
          font-size: 2rem;
          font-family: "Avenir Next";
          font-weight: 400;
          width: 27rem;
          text-wrap: wrap;
        }

        &.s-device {
          padding: 0 1rem;

          h1 {
            font-size: 7rem;
          }
          h3 {
            width: 3rem;
          }
        }

        &.sm-device {
          padding: 0 2rem;

          h1 {
            font-size: 8rem;
          }
          h3 {
            font-size: 3.5rem;
            width: 40rem;
          }
        }

        &.m-device {
          padding: 3rem;

          h3 {
            font-size: 2rem;
            width: 40rem;
          }
        }

        &.l-device {
          & > * {
            margin: 8rem 0;
          }
          padding-top: 5rem;

          h1 {
            font-size: 10rem;
          }
          h3 {
            font-size: 4rem;
            width: 60rem;
          }
        }

        &.xl-device {
          & > * {
            margin: 4rem 0;
          }

          h1 {
            font-size: 10rem;
          }
          h3 {
            font-size: 2.5rem;
            width: 50rem;
          }
        }
      }

      &.soft-skills {
        h2 {
          font-size: 3rem;
          border: 1px solid red;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}
