:host {
  position: fixed;
  top: 50%;
  left: 1.8rem;
  z-index: 50;
  .scroll-container {
    position: relative;
    display: flex;
    align-items: center;

    .thin-line {
      width: 1px;
      height: 30rem;
      border-right: 1px solid #6a686855;
    }

    .scrolled-line {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 8px;
      height: 5rem;
      border-radius: 3px;
      background-color: rgb(98, 14, 14);
    }
  }
}
